<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body style="box-sizing: border-box;">
  <!-- Your Code Goes Here -->
  <div style="display: flex; justify-content: center; align-items: center;">
    <div style="width: 300px; height: 300px; border: 1px solid whitesmoke; padding: 1rem; margin-top: 3rem;">
      <h1 style="color: whitesmoke;"><%= movieList[0] %></h1>
      <p style="color: whitesmoke;"><%= movieList[1] %></p>
      <a style="color: whitesmoke; text-align: center; display: block;" href="http://localhost:3000/">Home</a>
    </div>
  </div>

</body>

</html>